body{
    font-family: 華康中圓體, 微軟正黑體;
    background-image: url(../pic/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 60px;
}

.logo img{
    height: 50px;
}

.nav_button button,.footer_button button{
    border: none;
    background-color: #ffffff00;
    padding-right: 20px;
}

.nav_button button:last-child{
    padding: 0 0 0 50px;
}

.nav_button a:hover,.footer_button a:hover{
    border-bottom: 2px solid #382863;
}

.nav_button img,.footer_button img,.sns img{
    height: 30px;
}

.up_line img,.d_line img{
    width: 100%;
}

.sign_up{
    width: 265px;
    margin: 50px auto;
}

h1{
    color: #382863;
    font-size: 30px;
    padding-bottom: 15px;
    border-bottom: 3px solid #bd9ac6;
}

h4{
    color: #382863;
    font-size: 20px;
}

form h4:first-child{
    margin-top: 15px;
}

input{
    width: 250px;
    height: 40px;
    font-family: 華康中圓體;
    font-size: 16px;
    color: #ebe0ee;
    background-color: #8169ac88;
    border: none;
    border-radius: 5px;
    padding-left: 1em;
    margin: 5px 0 15px 0;
}

.sign_button{
    text-align: end;
    border-top: 3px solid #bd9ac6;
    padding-top: 15px;
}

.sign_button a{
    text-decoration: none;
    color: #ebe0ee;
}

button{
    font-size: 16px;
    font-family: 華康中圓體;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.already{
    background-color: #bd9ac6;
}

.signup{
    background-color: #382863;
}

footer{
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sns{
    margin: 0 60px 0 20px;
}

.sns button{
    border: none;
    background-color: #ffffff00;
    padding-left: 5px;
}